
<div class="widget widget-categories col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Useful Links</h5>
									
									<div class="widget-content-footer">
										<ul class="clean-list fancy-list">
											<li><a href="/">Home</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
											<li><a href="/homes/about_us">About Us</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
											<li><a  href="/homes/services">Services</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                            <li><a href="/homes/products">Products</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
											<li><a href="/homes/works"> Portfolio</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                            <li><a href="/homes/team"> Dine Media Team</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                             <li><a href="/homes/contact"> Get in touch with Dine Media</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                             
										</ul>
									</div>
								</div> <!-- /.widget-categories -->

