<div class="col-sm-10 col-xs-8">
    <nav class="main-nav">
    	<a href="#" class="responsive-menu align-right"><i class="icon-333 font-2x text-white"></i></a>
    	<ul class="inline-list align-right uppercase"> 
    		<li>
    			<a href="/">Home</a>
                
    		</li>
    		
    		<li><a href="/homes/about_us">About</a></li>
    		<li><a href="/homes/services">Services</a></li>
            <li><a href="/homes/products">Products</a></li>
    		<li><a href="/homes/team">Team</a></li>
    		<li><a href="/homes/works">Portfolio</a></li>
    		<li><a href="/homes/contact">Contact</a></li>
    	</ul>
    </nav><!-- /.main-nav -->
</div> <!-- /.col-10 -->