<!doctype html>
<html lang="en" class="no-js">
    

<head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dine Media Interactive - About Us</title>
        <meta name="description" content="">
         <link rel="shortcut icon"  href="/assets/demo/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/assets/demo/favicon/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/demo/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/demo/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/demo/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/demo/favicon/apple-touch-icon-144x144.png">
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/35debd9b.screen.css">
		
        <script src="/assets/components/require.js" data-main="/assets/511dca1f.options"></script>
    </head>
<body data-preloader="on">
    <div id="home" data-smooth-scroll="on">
            <section class="box-intro-page bg-black" data-box-img="/assets/demo/intro/intro-1.jpg">
                <div class="box-img"><span></span></div>
                    <div class="container intro-center">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="text-center text-white uppercase">
                                    <i class="icon-71 font-3x"></i>
                                    <h4 class="no-margin"><b>Who we are</b></h4>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div>
            </section>

        <header class="main-header" data-sticky="true">
            <section class="header-navbar bg-alpha" data-menu-scroll="true">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <figure class="identity">
                            	<a href="index.html">
                            		<img alt="Theme logo" src="/assets/logo-white.png" style="width:100%;">
                            	</a>
                            </figure>
                        </div> <!-- /.col-2 -->
                      <%= render "header_links" %>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section> <!-- /.header-navbar -->
        </header> <!-- /.main-header -->


<section class="box-breadcrumbs box-sep">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs-links uppercase align-center">
					<ul class="inline-list text-grey">
						<li>
							<a href="/">Home</a>
						</li>
						<li>About us</li>
					</ul>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box-breadcrumbs -->

<section class="box">
	<div class="container">
		<div class="row">
			<div class="fancy-title text-center uppercase">
				<h4 class="text-alpha">We make the web a better place</h4>
				<h6 class="text-grey text-air">Delivering Web on Cloud</h6>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<div class="col-md-12"><div class="space-1x"></div></div>
			<div class="col-md-6">
				<div class="text-content">
					<p>
						<b>Dine-Media</b> is a ruby on rails development company formed with a vision of providing superior design and development services to  across the globe.our motive to deliver in time, in budget with quality services always keep us on out toes, but we enjoy this as we love what we do. We have been serving clients with different services starting from product design to development to deployment to consulting on different verticals for over 6+ years. 
					</p>
					<p>						
						We hire the best talents from the industry with a vision to create a platform for our clients where they can come and talk out issues and walk with the most optimum solution. We have people from best masters and engineering institutes across India like IIM's and IIT's with experience ranging from 3- 25 years.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-content">
					<p>						
						 We aim to create a benchmark for our competitors and clients which will redefine the meaning of quality in budget and on-time delivery.
					</p>
					<p>
						We work with emerging technologies like Ruby on Rails, Cloud Computing producing excellent SAAS, PAAS and IAAS apps for our clients through agile development methodologies.
					</p>
					<p>
						
					</p>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<br>
			<h4 class="font-alpha uppercase text-center">Main features of Dine Media</h4>
			<hr class="hr-10 align-center">
		</div> <!-- /.row -->

		<div class="row">
			<ul class="loop-features clean-list">
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="fa fa-laptop font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="/homes/services">Design & Development</a></h6>
						<p>Superior quality responsive designs produced for applications deployed on cloud and built in RAILS</p>
						<hr class="hr-20 align-center">
						<a href="/homes/services" class="font-beta uppercase">Learn more</a>
					</div>
				</li>
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="fa fa-cloud  font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="/homes/services">Public Cloud Services</a></h6>
						<p>Our cloud master chefs can help you with any issues and solutions related to public and Private cloud</p>
						<hr class="hr-20 align-center">
						<a href=".html" class="font-beta uppercase">Learn more</a>
					</div>
				</li>
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="fa fa-users font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="services.html">Consultancy Services</a></h6>
						<p>Our expert team is highly qualified to provide reasonable and practical solution to any problem.</p>
						<hr class="hr-20 align-center">
						<a href="/homes/services" class="font-beta uppercase">Learn more</a>
					</div>
				</li>
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="fa fa-tablet font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="services.html">Mobile Applications</a></h6>
						<p>Give you apps and extra advantage to be reached to millions of users with our qualified team.</p>
						<hr class="hr-20 align-center">
						<a href="/homes/services" class="font-beta uppercase">Learn more</a>
					</div>
				</li>
			</ul>
		</div> <!-- /.row -->

	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="box" data-box-img="/assets/demo/sections/section-2.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				
				<br>
				<div class="demo-video">
					
                     <ul class="clean-list toggle-loop text-white">
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop" checked>
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-puzzle-piece bg-white"></i> Ruby On Rails Development</h6>
							<div>
								<p>
									Get your apps developed and migrated to ruby on rails and experience the best of the Ruby on Rails development services by our experienced professionals. We will also help you get them on cloud for you.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-laptop bg-white"></i> Responsive Designs</h6>
							<div>
								<p>
									Now are the days of Hybrid designs or you can also call them responsive designs where you cater to a larger audience trying to view your app on different devices, we make sure they are not disappointed.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-random bg-white"></i> TDD and BDD Based Development</h6>
							<div>
								<p>
									Make the most of the TEST Driven development using RSPEC and Behavior Driven development CUCUMBER and automated testing tools like BAMBOO and JENKINS.
								</p>
							</div>
						</div>
					</li>
                    <li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-code bg-white"></i> Clean High Quality Code</h6>
							<div>
								<p>
									Our experienced Ruby on Rails developers will only provide most efficient and Clean code, you can review out code pieces on codeclimate.com for ranking and rating of our code.
								</p>
							</div>
						</div>
					</li>
                    <li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-cloud bg-white"></i> Cloud Deployment and Migrations</h6>
							<div>
								<p>
									You can trust us for any migration of data and application from one cloud to another or deploying your Ruby on Rails app on any of the cloud servers like AWS, EY, Heroku, Rackspace etc.
								</p>
							</div>
						</div>
					</li>
				</ul>	
				</div>
			</div>

			<div class="col-md-6">
				<h6 class="font-alpha uppercase"><b>Skills we got</b></h6>
				<hr class="hr-10">
				<ul class="clean-list loop-progress-bar">
						<li>
							<h6 class="uppercase"><small>Design & Development</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current":90}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Mobile Applications</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 80}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Ruby on Rails Development</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 95}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Responsive Design</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 90}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Cloud Services</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 82}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
				</ul>
			</div>
		</div>
	</div> <!-- /.container -->
</section> <!-- /.box -->


<section class="box box-no-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h4 class="font-alpha">Technology Stack</h4>
					<hr class="hr-10 align-center">
					<br>
					<br>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<ul class="clean-list partner-loop">
            <li class="col-md-05">
				<div class="partner-item bg-light-grey text-center">
                    
                   
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/amazon_webservics.png" alt="partner 1"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/amazonS3.png" alt="partner 2"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/bootstrap.png" alt="partner 3"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/github_social.png" alt="partner 4"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/ajax.png" alt="partner 5"></a>
                        
					</div>
                    </li>
			</ul>
		</div> <!-- /.row -->
		
		

	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="footer-social bg-alpha">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="inline-list social-networks align-center text-white">
					<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								
								<li class="vimeo-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class=" fa fa-linkedin"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
				</ul>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.footer-social  -->

		<footer class="main-footer">

			<section class="footer-sidebar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<aside class="main-sidebar row" data-masonry=".widget">
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Keep in touch </h5>
									
									<div class="widget-content-footer">
										<p><b class="uppercase text-beta"><i class="fa fa-home text-grey" style="font-size:1.5em;"></i>&nbsp;&nbsp;No.270/2 /21, Near Banu Nursing Home, Sir Mv Road, Bommanahalli, Bangalore - 560068<br></b></p>
										<ul class="clean-list font-20 text-beta">
											<li><i class="icon-351 text-grey"></i> &nbsp;&nbsp;080-41265450/+91-9480018881</li>
											<li><i class="icon-166 text-grey"></i> &nbsp;&nbsp;neeraj@dine-media.com</li>
										</ul>
										<p>
											Please reach us by any means with any I.T related problems.
										</p>
									</div>
								</div> <!-- /.widget-text -->
								
						<%= render "footer_links" %>
								
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Subscribe</h5>
									
									<div class="widget-content-footer">
										<p>GET A QUOTE TODAY REQUEST FOR QUOTE and BE IN TOUCH WITH US  </p>
										<form action="#" class="slim-form full-inputs">
											<p>
												<input type="search" name="name">
												<span class="uppercase font-beta text-beta">Your email</span>
											</p>
											<button type="submit" class="button-sm bg-alpha make-full">Submit</button>
										</form>
									</div>
								</div> <!-- /.widget-text -->
								
								<div class="widget widget-dribbble col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta"> </h5>
									
									<div class="widget-content-footer">
										<img src="/assets/hdfc-bank-logo.jpg">
									</div>
								</div> <!-- /.widget-recent-posts -->
							</aside>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-menu -->

			<section class="footer-copyright bg-light-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p class="copyright uppercase">
								<span> &copy; 2015 </span>
								<a href="#">Dine Media </a>
									
							</p>
						</div>

						<div class="col-md-6">
							<ul class="inline-list social-networks social-mini-footer text-grey align-right">									
								<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								<li class="linkedin-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class="icon-297"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-copyright -->
		</footer> <!-- /.main-footer -->

	</div> <!-- /#home -->
	
</body>


</html>