<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<title>Dine Media Interactive</title>

	<link rel="shortcut icon"  href="/assets/demo/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/assets/demo/favicon/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/demo/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/demo/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/demo/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/demo/favicon/apple-touch-icon-144x144.png">
	
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/ css'>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/35debd9b.screen.css">

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/assets/components/require.js" data-main="/assets/511dca1f.options"></script>
</head>

<body data-preloader="on">
    	<div id="home" data-smooth-scroll="on">
            <section class="box-intro-large">
                <div class="page-loader">
                    <div class="text-center">
                         <h1 class="uppercase font-alpha no-margin loading-text">DINE-MEDIA</h1>
                    </div>
                </div>
                <div class="intro-container">
				<header class="main-header" data-sticky="true">
            <div class="header-navbar bg-alpha" data-menu-scroll="true">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <figure class="identity">
                            	<a href="#">
                            		<img alt="logo" src="/assets/logo-white.png" class="img-responsive">
                            	</a>
                            </figure>
                        </div> 
                        <%= render "header_links" %>

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.header-navbar -->
        </header> <!-- /.main-header -->
				<section class="full-box">
	<div class="slider-box no-margin">
        <div id="slider-nav" class="slide-navigation">
            <ul class="inline-list">
                <li>
                    <a href="#" class="text-white" data-target="prev">
                        <i class="icon-110"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white" data-target="next">
                        <i class="icon-111"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div data-sudo-slider='{"slideCount":1, "moveCount":1, "customLink":"#slider-nav a", "continuous":true, "updateBefore":false, "effect":"random", "auto":true, "speed":3000}'>
            <ul class="clean-list">
                <li>
                   <img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/slider-2/slide-1.jpg" alt="slide-1">
                </li>
                <li>
                   <img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/slider-2/slide-2.jpg" alt="slide-2">
                </li>
                 <li>
                   <img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/slider-2/slide-3.jpg" alt="slide-3">
                </li>
                <li>
                   <img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/slider-2/slide-4.jpg" alt="slide-4">
                </li>
            </ul>
        </div>
    </div>
</section>
                   

                    <div class="container intro-center">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="text-center text-white">
                                    <h3 class="font-alpha"><b>Discuss Ideas, Make It Happen</b></h3>
                                    <img src="/assets/fe296a6b.load.svg" data-src="/assets/5612251f.cuz.png" alt="cuz">
                                    <h3 class="no-margin">We Know It Works</h3>
                                    <br>
                                    <p class="uppercase">If you are looking best services for your business, you are at right place!. We discover the unmatched expertise in Cloud Design & Architecture. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        


<section id="intro" class="box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fancy-title text-center uppercase">
					<h4 class="text-alpha"> welcome</h4>
					<h6 class="text-grey text-air">We are Dine Media - Delivering Web on Cloud</h6>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<div class="col-sm-4">
				<div class="fancy-features text-right">
					<div class="row row-fit">
						<div class="col-xs-10">
							<h6 class="uppercase font-alpha">Design & Development</h6>
							<p>Superior quality responsive designs produced for applications deployed on cloud and built in RAILS</p>
						</div>
						<div class="col-xs-2">
							<div class="featured-icon">
								<figure class="shape-square">
									<i class="fa fa-laptop font-2x"></i>
								</figure>
							</div>
						</div>
					</div>					
				</div> <!-- /.fancy-features -->

				<div class="fancy-features text-right">
					<div class="row row-fit">
						<div class="col-xs-10">
							<h6 class="uppercase font-alpha">Public Cloud Services</h6>
							<p>Our cloud master chefs can help you with any issues & solutions related to public & Private cloud</p>
						</div>
						<div class="col-xs-2">
							<div class="featured-icon">
								<figure class="shape-square">
									<i class="fa fa-cloud font-2x"></i>
								</figure>
							</div>
						</div>
					</div>					
				</div> <!-- /.fancy-features -->
			</div> <!-- /.col-sm-4 -->
			<div class="col-sm-4">
				<div class="featured-logo">
					<div class="bg-alpha shape-square"></div>
				</div>
			</div> <!-- /.col-sm-4 -->
			<div class="col-sm-4">
				<div class="fancy-features">
					<div class="row row-fit">
						<div class="col-xs-2">
							<div class="featured-icon">
								<figure class="shape-square">
									<i class="fa fa-users font-2x"></i>
								</figure>
							</div>
						</div>
						<div class="col-xs-10">
							<h6 class="uppercase font-alpha">Consultancy Services</h6>
							<p>Our expert team is highly qualified to provide reasonable and practical solution to any problem.</p>
						</div>
					</div>					
				</div> <!-- /.fancy-features -->

				<div class="fancy-features">
					<div class="row row-fit">
						<div class="col-xs-2">
							<div class="featured-icon">
								<figure class="shape-square">
									<i class="fa fa-tablet font-2x"></i>
								</figure>
							</div>
						</div>
						<div class="col-xs-10">
							<h6 class="uppercase font-alpha">Mobile Applications</h6>
							<p>Give you apps and extra advantage to be reached to millions of users with our qualified team.</p>
						</div>
					</div>					
				</div> <!-- /.fancy-features -->
			</div> <!-- /.col-sm-4 -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="box bg-black" data-box-img="/assets/demo/sections/section-1.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
				<div class="promo-message text-center text-white">
					<h6 class="uppercase">Let’s build your next dream project</h6>
					<h4 class="font-alpha">We make our <span class="text-alpha">work look good</span> & have experience in <br>
					the creation of brand identities for <span class="text-alpha">web & Cloud</span>, with a difference.</h4>
					<div class="space-3x"></div>
					<a href="/homes/works" class="button-md bg-alpha uppercase">View case studies</a>
				</div>
			</div>
		</div>
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section id="about" class="box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fancy-title text-center uppercase">
					<h4 class="text-alpha">About Dine Media</h4>
					<h6 class="text-grey text-air">Delivering Web on Cloud</h6>
				</div>
				<div class="space-1x"></div>
			</div>
		</div> <!-- /.row -->
		<div class="row">
			<ul class="loop-features clean-list">
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="fa fa-road font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="services.html">Ruby On Rails Development</a></h6>
						<p>Get your apps developed and migrated to ruby on rails and experience the best of the Ruby on Rails development services by our experienced professionals. We will also help you get them on cloud for you.</p>
						<hr class="hr-20 align-center">
						<a href="/homes/services" class="font-beta uppercase text-alpha">Learn more</a>
					</div>
				</li>
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="fa fa-gift font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="services.html">Responsive Designs</a></h6>
						<p>Now are the days of Hybrid designs or you can also call them responsive designs where you cater to a larger audience trying to view your app on different devices, we make sure they are not disappointed.</p>
						<hr class="hr-20 align-center">
						<a href="/homes/services" class="font-beta uppercase text-alpha">Learn more</a>
					</div>
				</li>
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="icon-176 font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="services.html"> Clean High Quality Code</a></h6>
						<p>Our experienced Ruby on Rails developers will only provide most efficient and Clean code, you can review out code pieces on codeclimate.com for ranking and rating of our code.</p>
						<hr class="hr-20 align-center">
						<a href="/homes/services" class="font-beta uppercase text-alpha">Learn more</a>
					</div>
				</li>
				<li class="col-md-3 col-sm-6">
					<div class="feature-item text-center">
						<div class="featured-icon align-center">
							<figure class="shape-square">
								<a href="/homes/services"><i class="icon-453 font-2x"></i></a>
							</figure>
						</div>			
						<h6 class="uppercase"><a href="services.html"> Cloud Deployment and Migrations</a></h6>
						<p>You can trust us for any migration of data & application from one cloud to another or deploying your Ruby on Rails app on cloud servers like AWS, EY, Heroku, Rackspace etc.</p>
						<hr class="hr-20 align-center">
						<a href="/homes/services" class="font-beta uppercase text-alpha">Learn more</a>
					</div>
				</li>
			</ul>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="box" data-box-img="/assets/demo/sections/section-2.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h6 class="font-alpha uppercase"><b>What We Do</b></h6>
				<hr class="hr-10">
				<div class="space-1x"></div>
				<div class="demo-video">
                    <div class="col-md-12">
                    <ul class="clean-list toggle-loop text-white">
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop" checked>
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-puzzle-piece bg-white"></i> Ruby On Rails Development</h6>
							<div>
								<p>
									Get your apps developed and migrated to ruby on rails and experience the best of the Ruby on Rails development services by our experienced professionals. We will also help you get them on cloud for you.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-laptop bg-white"></i> Responsive Designs</h6>
							<div>
								<p>
									Now are the days of Hybrid designs or you can also call them responsive designs where you cater to a larger audience trying to view your app on different devices, we make sure they are not disappointed.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-random bg-white"></i> TDD and BDD Based Development</h6>
							<div>
								<p>
									Make the most of the TEST Driven development using RSPEC and Behavior Driven development CUCUMBER and automated testing tools like BAMBOO and JENKINS.
								</p>
							</div>
						</div>
					</li>
                    <li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-code bg-white"></i> Clean High Quality Code</h6>
							<div>
								<p>
									Our experienced Ruby on Rails developers will only provide most efficient and Clean code, you can review out code pieces on codeclimate.com for ranking and rating of our code.
								</p>
							</div>
						</div>
					</li>
                    <li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-cloud bg-white"></i> Cloud Deployment and Migrations</h6>
							<div>
								<p>
									You can trust us for any migration of data and application from one cloud to another or deploying your Ruby on Rails app on any of the cloud servers like AWS, EY, Heroku, Rackspace etc.
								</p>
							</div>
						</div>
					</li>
				</ul>
                </div>
				</div>
			</div>

			<div class="col-md-6">
				<h6 class="font-alpha uppercase"><b>Skills we got</b></h6>
				<hr class="hr-10">
				<ul class="clean-list loop-progress-bar">
						<li>
							<h6 class="uppercase"><small>Design & Development</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 90}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Mobile Applications</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 80}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Ruby on Rails Development</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 95}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Responsive Design</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 90}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
						<li>
							<h6 class="uppercase"><small>Cloud Services</small></h6>
							<div class="progress-bar-item" data-progress-bar='{"min": 0, "max": 100, "style": "percentage", "current": 82}'>
								<span class="bg-alpha text-alpha show-progress"></span>
								<span class="value-progress" data-progress-value="0%"></span>
							</div>
						</li>
				</ul>
			</div>
		</div>
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="box">
	<div class="container">
		<div class="row">
			<div class="col-xs-1"></div>
			<ul class="clean-list loop-facts text-center">
				<li class="col-md-2 col-xs-2 ">
					<div class="featured-icon align-center">
						<figure class="shape-square">
							<a href="/homes/about_us"><i class="icon-393 font-2x"></i><span data-count-up="167"></span></a>
						</figure>
					</div>
					<h6 class="uppercase"><small>Projects launched</small></h6>
				</li>
				<li class="col-md-2 col-xs-2 ">
					<div class="featured-icon align-center">
						<figure class="shape-square">
							<a href="/homes/about_us"><i class="icon-502 font-2x"></i><span data-count-up="25"></span></a>
						</figure>
					</div>
					<h6 class="uppercase"><small>Awards won</small></h6>
				</li>
				<li class="col-md-2 col-xs-2 ">
					<div class="featured-icon align-center">
						<figure class="shape-square">
							<a href="/homes/about_us"><i class="icon-339 font-2x"></i><span data-count-up="98"></span></a>
						</figure>
					</div>
					<h6 class="uppercase"><small>Proposals sent</small></h6>
				</li>
				<li class="col-md-2 col-xs-2 ">
					<div class="featured-icon align-center">
						<figure class="shape-square">
							<a href="/homes/about_us"><i class="icon-119 font-2x"></i><span data-count-up="40000"></span></a>
						</figure>
					</div>
					<h6 class="uppercase"><small>Hours of work</small></h6>
				</li>
				<li class="col-md-2 col-xs-2 ">
					<div class="featured-icon align-center">
						<figure class="shape-square">
							<a href="/homes/about_us"><i class="icon-128 font-2x"></i><span data-count-up="256"></span></a>
						</figure>
					</div>
					<h6 class="uppercase"><small>Cups of coffee</small></h6>
				</li>
			</ul>
		</div>
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="box bg-black" data-box-img="/assets/demo/sections/section-3.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<div class="device-slider">
					<div data-liquid="true">
						<div class="layer" data-depth=".50" data-device-slider='{"slides":["/assets/demo/device-slider/slide-1.jpg", "/assets/demo/device-slider/slide-2.jpg", "/assets/demo/device-slider/slide-1.jpg", "/assets/demo/device-slider/slide-2.jpg"]}'></div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="box-text text-white">
					<h4 class="font-alpha"><b>DINE MEDIA</b> INTERACTIVE</h4>
					<h6 class="font-20">We are a team of experts who are <span class="text-alpha">Passionate</span> and 
						<span class="text-alpha">Dedicated</span> to their every project.</h6>
					<br>
					<div class="row">
						<ul class="clean-list device-slider-nav">
							<li class="col-xs-3">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="#"><i class="icon-292 font-2x"></i></a>
									</figure>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="#"><i class="icon-502 font-2x"></i></a>
									</figure>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="#"><i class="icon-473 font-2x"></i></a>
									</figure>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="#"><i class="icon-512 font-2x"></i></a>
									</figure>
								</div>
							</li>
						</ul>
					</div>

					<br>

					<h6 class="uppercase">Features of Dine Media</h6>

					<p> We have people from best masters and engineering institutes across India like IIM's and IIT's with experience ranging from 3- 25 years. We aim to create a benchmark for our competitors and clients which will redefine the meaning of quality in budget and on-time delivery.
We work with emerging technologies like Ruby on Rails, Cloud Computing producing excellent SAAS, PAAS and IAAS apps for our clients through agile development methodologies.</p>
					<br>
					<a href="/homes/works" class="button-md button-outline text-white uppercase">Recent works</a>
				</div>
			</div>
		</div>
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section id="services" class="box box-title">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fancy-title text-center uppercase">
					<h4 class="text-alpha">Services we offer</h4>
					<h6 class="text-grey text-air">Our amazing services and solutions for your business needs</h6>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

    
<section class="box box-no-bottom" data-box-img="/assets/demo/sections/section-4.jpg">
	<div class="box-img"><span></span></div>
	
	<div class="container1">
		<div class="row">
			<div class="col-md-12" id="design">
				<div id="big-tabs-nav" class="slide-navigation align-center">
					<ul class="inline-list">
						<li>
							<a href="#" class="bg-white" data-target="prev">
								<i class="icon-110"></i>
							</a>
						</li>
						<li>
							<a href="#" class="bg-white" data-target="next">
								<i class="icon-111"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="big-tabs" data-sudo-slider='{"slideCount":5, "moveCount":1, "customLink":"#big-tabs-nav a, .big-tabs li", "continuous":true}'>
					<ul class="clean-list">
						<li data-target="4">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="fa fa-cloud font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Cloud Services</small></h6>
							</div>
						</li>
						<li data-target="5">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="fa fa-users font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Consultancy Services</small></h6>
							</div>
						</li>
						<li data-target="1" class="active-big-tab">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="fa fa-laptop font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Design & Development</small></h6>
							</div>
						</li>
						<li data-target="2">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="fa fa-tablet font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Mobile Applications</small></h6>
							</div>
						</li>
                       
						<li data-target="3">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="icon-510 font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Social media</small></h6>
							</div>
						</li>
                        
					</ul>
				</div>

				<div class="big-tabs-content" data-sudo-slider='{"customLink":"#big-tabs-nav a, .big-tabs li", "continuous":true}'>
					<ul class="inline-list">
						<li class="row">
							<div class="col-md-5">
								<h4> Design & Development</h4>
                               <p> We specialize and love to develop custom application on Ruby on Rails framework. With good amount of experience in working on custom products, we not only work with you redefining your requirements but also work to make the final product look more usable and saleable which further helps our client to reduce Return on investment period and start generating quick profits. We follow Agile Development methodology using SCRUM and DSSM reducing the time to market for custom applications generating feedbacks for improvement while the product is being developed. In the end what you get is a totally polished product easily accepted for the masses. Clients are a part of our development process and to say the most important stakeholder.</p>
							
								<hr class="hr-10">
								<a href="services.html" class="uppercase text-alpha">Learn more</a>
							</div>
							<div class="col-md-7">
								<figure class="text-center no-margin">
									<img src="/assets/demo/big-tabs/tab-2.png" alt="big tabs">
								</figure>
							</div>
						</li>
						<li class="row">
							<div class="col-md-7">
								<figure class="text-center no-margin">
									<img src="/assets/demo/big-tabs/tab-3.png" alt="big tabs">
								</figure>
							</div>
								<div class="col-md-5">
								<h4>Mobile Applications</h4>
								<p>When smart phones are becoming the choice of the markets along al aged groups, you cannot ignore the world leader in smart phones "APPLE". With over more than 450,000 thousand apps, one of the biggest app collections has not only made the lives of many people and businesses more organized and manageable but given huge opportunities to people to explore the huge application development segment on IOS. Equipped with the most desirable skills in IOS development tools like Xcode, Cocoa Touch framework and Objective C, we ensure that Dine-Media provides the best service and optimum solution to its client, perfecting delivery In-Time, On-Budget and Quality Checked. Leveraging the best of Apple's technologies and utilizing Cocoa's APIs, our iPhone Programmers create a tightly-integrated Xcode development experience that makes it easier to add animation, networking, appearance and behavior to apps. Only a few lines of coding will suffice.</p>
								<hr class="hr-10">
								<a href="/homes/services" class="uppercase text-alpha">Learn more</a>
							</div>
						</li>
						<li class="row">
							<div class="col-md-5">
								<h4>Social Media</h4>
								<p>Developing social media friendly apps for greater audience.</p>
								<p>Creating Application for social media Ecommerce sites. Marketing in social media for selling and purchasing of any items . Implementing Ecommerce in Twitter, Facebook, Instagram etc.... </p>
								<hr class="hr-10">
								<a href="/homes/services" class="uppercase text-alpha">Learn more</a>
							</div>
							<div class="col-md-7">
								<figure class="text-center no-margin">
									<img  src="/assets/demo/big-tabs/socila_media.png" alt="big tabs">
								</figure>
							</div>
						</li>
						<li class="row">
							<div class="col-md-5">
								<h4>Cloud Services</h4>
								<p>Cloud is just not about moving to any cloud but choosing the right cloud fulfilling your business needs. You can be from any domain and if you are facing a problem on answering some very critical questions required to take decision for your application and infrastructure we are here to help.</p>
                                <p>We are experts in taking cloud decision and our Decision criteria is not limited to WSO2, cloud foundry, open shift, cloudbees but we cover all verticals of solution approach.
With our decision on your SAAS, PAAS and IAAS you are surely a winner.</p>
								<hr class="hr-10">
								<a href="/homes/services" class="uppercase text-alpha">Learn more</a>
							</div>
							<div class="col-md-7">
								<figure class="text-center no-margin">
									<img src="/assets/demo/big-tabs/tab-5.png" alt="big tabs">
								</figure>
							</div>
						</li>
						<li class="row">
							<div class="col-md-5">
								<h4>Consultancy Services</h4>
								<p>We at dine-media believe that a perfect analysis of business and process requirements leads to a successful project outcomes. We have experiences when clients come to us with a vague idea on what they want to do, we then sit with them and try to explore more on what they exactly want and improvise their idea into a proper Requirement Specification Document which not only helps us executing the project in a proper manner with clarity on what the end product will look like. We help the customer to redefine his requirements in a way which is easily understood by his target audience and helps him to market.</p>
								<hr class="hr-10">
								<a href="/homes/services" class="uppercase text-alpha">Learn more</a>
							</div>
							<div class="col-md-7">
								<figure class="text-center no-margin">
									<img src="/assets/demo/big-tabs/Public-Relations.svg" alt="big tabs">
								</figure>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->


<section class="box bg-black" data-box-img="/assets/demo/sections/section-6.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-white text-center title-bottom">
					<h4 class="font-alpha">Our Amazing Products</h4>
					<hr class="hr-10 bg-white align-center">
					<h6 class="uppercase font-alpha">Our amazing Products and solutions for your  <br>
						business needs </h6>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<div class="col-md-6">
            
				<figure class="text-center">
					<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/figure/figure-1.png" alt="device">
				</figure>
			</div>
			<div class="col-md-6">
         
				<ul class="clean-list toggle-loop text-white">
                
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop" checked>
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-home bg-white"></i> REAL ESTATE - EZYPROPS</h6>
							<div>
                           <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.ezyprops.com/" target="_blank">www.ezyprops.com</a></p>
								<p>
                                
									Ezyprops is one of the India's fastest growing property information website that helps connect buyers and sellers of real estate across the country and also notify and alert customer base available online on social media networks. Property buying for Indians is a big financial and emotional decision taken by the family together.
								</p>
							</div>
						</div>
					</li>
                    <li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-book bg-white"></i>STUDY GOSSIP</h6>
							<div>
                            <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.studygossip.com/" target="_blank">www.studygossip.com</a></p>
								<p>
									Study gossip is a unique first ever social collaborative platform making learning and sharing fun. Reaching out to those who really want to learn and share. It facilitates communication across all level in educational institutions.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-shopping-cart bg-white"></i>Chti - Logistic Software</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://chti.in/" target="_blank">www.chti.in</a></p>
								<p>
									Chti is a logistic management solution managing end-end operations for any logistic company with a dedicated management dashboard and features to manage different locations and offices.
								</p><p>It has features like: LR Entry, lorry challan, powerful search based on time date and bilty number, expenses and branch management, along with user profiles and setting to manage the application, it has got the facility to generate unique bar codes with each bilty generated which can be scanned for relevant information and save a lot of time.</p>
							</div>
						</div>
					</li>
					<p style="float:right;font-weight:900"> <a href="/homes/products" target="_blank">Learn More...!</a></p>
				</ul>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section id="team" class="box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fancy-title text-center uppercase">
					<h4 class="text-alpha">Meet our team</h4>
					<h6 class="text-grey text-air">Meet Our CREATIVE DESIGN & RUBY ON RAILS Team Members</h6>
				</div>
				<div class="space-1x"></div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
        
                  
			<ul class="clean-list team-loop text-center inline-list">
           
				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/neeraj.png"  alt="team one">
                                
							</div>
							<h6 class="uppercase"><a href="#">Neeraj Choudhary</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="team.html"></a>
							<h6 class="uppercase font-alpha">Neeraj Choudhary</h6>
							<span class="uppercase">C.E.O/Managing Director</span>
							<hr class="hr-10 bg-white align-center">
							<p>MBA in Advance IT with Solid 10 years of Industry Experience</p>
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/ranjana.png" alt="team one">
                              
							</div>
							<h6 class="uppercase"><a href="#">Ranjana Choudhary</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
                         <a href="team.html"></a>
							<h6 class="uppercase font-alpha">Ranjana Choudhary</h6>
							<span class="uppercase">Director Design</span>
							<hr class="hr-10 bg-white align-center">
							<p>Designer by Passion Creating and Setting Design Standards</p>
							
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/ashok.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Ashok Kumar</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							  <a href="team.html"></a>
							<h6 class="uppercase font-alpha">Ashok Kumar</h6>
							<span class="uppercase">Senior Ruby On Rails Specialist</span>
							<hr class="hr-10 bg-white align-center">
							<p>We call him Ruby On Rails Guru in Office</p>
					</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/pushparaj.png" alt="team one">			
                               
							</div>
							<h6 class="uppercase"><a href="#">Pushparaj Badu</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							 <a href="team.html"></a>
							<h6 class="uppercase font-alpha">Pushparaj Badu</h6>
							<span class="uppercase">Ruby on Rails Wizard</span>
							<hr class="hr-10 bg-white align-center">
							<p>He is the Made Scientist digging ROR Deeply.</p>
							
						</div>
					</div>
				</li>
 <p style="float:right;font-weight:900;  font-family: Varela,sans-serif;"> <a href="team.html" target="_blank">See More . . . !</a></p>	
			</ul>
           
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="box bg-black arrow-box" data-box-img="/assets/demo/sections/section-7.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-white text-center uppercase">
					<h2 class="font-alpha"><b>DINE MEDIA</b><br>Delivering Web on Cloud </h2>
					<h6 class="font-alpha">Clean & modern applications designed for your business!</h6>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<div class="box box-buttons">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<a href="/homes/works" class="button-lg button-outline uppercase align-right button-min-value">Find out more</a>
			</div>
			<div class="col-xs-6">
				<a href="/homes/contacts" class="button-lg bg-alpha uppercase button-min-value">Contact Us</a>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.box -->


<section class="box bg-black" data-box-img="/assets/demo/sections/section-9.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-white">
					<h6 class="uppercase">Our Featured case study</h6>
					<h4 class="font-alpha no-margin">E-Commerce Solutions, Branding & Web Design, Social Media Marketing</h4>
					<hr class="hr-10 bg-white">
					<p>Client:  <b>Flip Now</b></p>
					<div class="space-3x"></div>
					<a href="/homes/works" class="button-lg bg-alpha uppercase">View details</a>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section id="works" class="box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fancy-title text-center uppercase">
					<h4 class="text-alpha">Recent works</h4>
					<h6 class="text-grey text-air">This ever growing list of delivered apps for satisfied client make us feel proud</h6>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<div class="space-3x"></div>
				<div class="portfolio-filters uppercase clearfix">
					<ul class="inline-list">
						<li>
							<label>
								<input type="radio" name="isotope_filter" value="*" checked>
								<span>Our Works</span>
							</label>
						</li>
						
					</ul>

					<div class="sort-by">
						<input type="checkbox" id="sort-by">
						<label for="sort-by" class="uppercase"><span>Sort by <i class="icon-109 text-alpha"></i></span></label>

						<ul class="clean-list">
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="original-order" checked>
									<span>Default</span>
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="name">
									<span>Project name</span>
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="pubDate">
									<span>Publish Date</span>
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="type">
									<span>File type</span>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row row-fit">
			<ul class="clean-list portfolio-loop" data-masonry="li">
				<li class="col-md-3 col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
						<img src="/assets/load.html" data-src="/assets/demo/portfolio/greatworkperks.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/greatworkperks.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://greatworkperks.com/" target="_blank"><b>Great Work Perks</b></a></h6>
								<span class="font-beta">Online Employment Discount Programs</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6 photography web-design" data-portfolio-date="1345619252" data-portfolio-type="abstract">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/load.html" data-src="/assets/demo/portfolio/SIGN_THIS.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/SIGN_THIS.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="https://signthis.ca/" target="_blank"><b>Sign This</b></a></h6>
								<span class="font-beta">Send and Manage Documents in online</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6" data-portfolio-date="1345619259" data-portfolio-type="web">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/load.html" data-src="/assets/demo/portfolio/flip_now.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/flip_now.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://dev.garagesalegroups.com/" target="_blank"><b>Flip Now</b></a></h6>
								<span class="font-beta">Social Networking & E-commerce Site</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6 photography artwork" data-portfolio-date="1345619226" data-portfolio-type="web">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/load.html" data-src="/assets/demo/portfolio/go4usedcars.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/go4usedcars.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://go4usedcars.com/" target="_blank"><b>Go4used Cars</b></a></h6>
								<span class="font-beta">Online Purchasing & Selling of Used Cars</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6 web-design" data-portfolio-date="1245619256" data-portfolio-type="web">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/load.html" data-src="/assets/demo/portfolio/spiceandspoon.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/spiceandspoon.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.spiceandspoon.com/" target="_blank"><b>Spice & Spoonp</b></a></h6>
								<span class="font-beta">Online Cooking Classes</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6 photography web-design" data-portfolio-date="1345619252" data-portfolio-type="web">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/load.html" data-src="/assets/demo/portfolio/meida-cloud.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/meida-cloud.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://mediacloud.co.in/" target="_blank"><b>Media Cloud</b></a></h6>
								<span class="font-beta">Oraganizational Website</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6 artworks photography" data-portfolio-date="1345619251" data-portfolio-type="web">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/load.html" data-src="/assets/demo/portfolio/rosarahomes.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/rosarahomes.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://rosarahomes.com/" target="_blank"><b>Rosara Homes</b></a></h6>
								<span class="font-beta">Ecommerce site for Furnitures</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-md-3 col-sm-4 col-xs-6 photography web-design artworks" data-portfolio-date="1345619256" data-portfolio-type="aweb">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/load.html" data-src="/assets/demo/portfolio/svrfarms.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/svrfarms.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i> </a>

								</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://svrfarms.com/" target="_blank"><b>SVR Farms</b></a></h6>
								<span class="font-beta">Ecommerce Website for Real Estate</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
           
		</div> <!-- /.row -->
	</div> <!-- /.container -->
    
</section> <!-- /.box -->

<section class="box bg-black" data-box-img="/assets/demo/sections/section-10.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-white text-center">
					<h4 class="font-alpha"><b>Are You Impressed By Our Work?</b></h4>
					<h6 class="no-margin font-alpha font-20">Already achieved a target of 40,000 hrs in developing ROR apps in 2 years.</h6>
					<div class="space-4x"></div>
					<a href="#contact" class="button-lg text-white button-outline uppercase button-min-value">Request a Quote</a>
					&nbsp;
					&nbsp;
					&nbsp;
					<a href="contact.html" class="button-lg bg-alpha uppercase button-min-value">Get in touch</a>
					<div class="space-3x"></div>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="box box-sep">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h4 class="font-alpha">TECHNOLOGY STACK</h4>
					<hr class="hr-10 align-center">
					<div class="spcae-2x"></div>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<ul class="clean-list partner-loop">
           
				<li class="col-md-05">
                 
					<div class="partner-item bg-light-grey text-center">
                    
                   
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/amazon_webservics.png" alt="partner 1"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/amazonS3.png" alt="partner 2"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/bootstrap.png" alt="partner 3"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/github_social.png" alt="partner 4"></a>
					</div>
				</li>
				<li class="col-md-05">
					<div class="partner-item bg-light-grey text-center">
						<a href="#"><img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/technology_stack/ajax.png" alt="partner 5"></a>
                        
					</div>
                  
				</li>
			</ul>
		</div> <!-- /.row -->
			

	</div> <!-- /.container -->
</section> <!-- /.box -->

	<section class="box box-title">
	<div class="container1">
		<div class="row">
			<div class="col-md-12">
				<div class="fancy-title text-center uppercase">
					<h4 class="text-alpha">Services Reviews</h4>
					<h6 class="text-grey text-air">Our clients loves our Work! read what they have to say</h6>
				</div>
			</div>
		</div> 
	</div>
</section> 
<section class="box bg-black" data-box-img="/assets/demo/sections/section-11.jpg">

	<div class="box-img"><span></span></div>
	<div class="container1">
		<div class="row">
			<div class="col-md-12">
				<div class="twitter-feed-meta text-center text-white">
               
					<div class="featured-icon align-center">
						<figure class="shape-square">
							<a href="#" data-target="next"><i class="fa fa-comment font-2x text-white"></i></a>
						</figure>
					</div>
						
					<hr class="hr-10 align-center">
				</div>
			</div>
		</div> 
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="twitter-loop text-white text-center" data-sudo-slider='{"customLink":".twitter-feed-meta a", "continuous":true, "effect":"fadeOutIn"}'>
					<ul class="clean-list">
						<li>
							<div class="twitter-item">
								<p> We are very satisfied overall with both the product we were delivered. We look forward to working with them again!<h6> - Steven Quintanilla</h6><a href="http://www.spacecadet.io//" class="font-alpha" style="font-size:20px;" target="_blank">Founder kirpeep.com</a></p>
							</div>
						</li>
						<li>
							<div class="twitter-item">
								<p>WOW! Talk about a Rails Rockstar! Best Experience I have had yet! Thanks to Neeraj, we have our best web app up and running Now.  <h6> - Mark Russell</h6><a href="http://abouttrees.com/" class="font-alpha" style="font-size:20px;" target="_blank">Abouttrees</a></p>
							</div>		
						</li>
					</ul>
				</div>
			</div>
		</div> 

	</div> 
</section>

<section id="contact" class="box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fancy-title text-center uppercase">
					<h4 class="text-alpha">Contact Us</h4>
					<h6 class="text-grey text-air">GET IN TOUCH US</h6>
				</div>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="space-2x"></div>
				<h6 class="font-alpha uppercase text-center"><b>Send us your thoughts</b></h6>
				<hr class="hr-10 align-center">
				<form action="#" class="slim-form full-inputs row">
					<p class="col-md-4">
						<input type="text" name="name">
						<span class="uppercase font-beta text-beta">Your name</span>
					</p>
					<p class="col-md-4">
						<input type="email" name="email">
						<span class="uppercase font-beta text-beta">Your email</span>
					</p>
					<p class="col-md-4">
						<input type="text" name="subject">
						<span class="uppercase font-beta text-beta">Subject</span>
					</p>
					<p class="col-md-12">
						<textarea name="message"></textarea>
						<span class="uppercase font-beta text-beta">Your message</span>
					</p>
					<p class="col-md-12">
						<button class="button-lg button-outline make-full uppercase">Send message</button>
					</p>
				</form>
			</div>
		</div> <!-- /.row -->

		<div class="row">
			<div class="col-md-12">
				<div class="space-4x"></div>
				
                <iframe class="googlemap" style="height:300px; width:100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=bommanahalli&amp;hl=en&amp;sll=12.898360,77.617947&amp;sspn=0.112164,0.154324&amp;hnear=bommanahalli,&amp;t=m&amp;z=13&amp;output=embed"></iframe>
					
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

		<footer class="main-footer">
			<div class="footer-social bg-alpha">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="inline-list social-networks align-center text-white">
								<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								
								<li class="vimeo-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class=" fa fa-linkedin"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.footer-social  -->

			<div class="footer-menu-box">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="inline-list footer-menu align-center uppercase">
									<li>
										<a href="#home">Home</a>
									</li>
									
									<li>
										<a href="/homes/about_us">About</a>
									</li>
									<li>
										<a href="/homes/services">Services</a>
									</li>
                                   <li>
                                   		<a href="/homes/products">Products</a>
                                   </li>
									<li>
										<a href="/homes/team">Team</a>
									</li>
									
									<li>
										<a href="/homes/works">Works</a>
									</li>
								
									<li>
										<a href="/homes/contact">Contact</a>
									</li>
									
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.footer-menu -->

			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="copyright align-center text-center uppercase">
								<span>&copy; 2015 </span>
								<a href="#">Dine Media </a>
									
							</p>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.footer-copyright -->
		</footer> <!-- /.main-footer -->

	</div> <!-- /#home -->
	   
   
</body>


</html>
