<!doctype html>
<html lang="en" class="no-js">
    

<head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta name="description" content="Hire expert Ruby on Rails developer or development team who help you to create the best RoR web application at affordable cost in USA and UK.">
        <meta name="keywords" content="website designing, web development services, ruby on rails developer, web application development company, rails developer, web development process, ruby on rails ecommerce, ruby on rails website, ruby on rails applications, ruby on rails application, ruby on rails company, ruby on rails application development">
        <title>Ruby on Rails Web Applications USA | Rails Development - Dine Media/title>
        
       <link rel="shortcut icon"  href="/assets/demo/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/assets/demo/favicon/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/demo/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/demo/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/demo/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/demo/favicon/apple-touch-icon-144x144.png">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/35debd9b.screen.css">

        <script src="/assets/components/require.js" data-main="/assets/511dca1f.options"></script>
    </head>
<body data-preloader="on">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="home" data-smooth-scroll="on">


            <section class="box-intro-page bg-black" data-box-img="/assets/demo/intro/intro-1.jpg">
                <div class="box-img"><span></span></div>
                    <div class="container intro-center">
                        <div class="row">	
                            <div class="col-md-6 col-md-offset-3">
                                <div class="text-center text-white uppercase">
                                    <i class="icon-310 font-3x"></i>
                                    <h4 class="no-margin"><b>Our Amazing Products</b></h4>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div>
            </section>

          <header class="main-header" data-sticky="true">
            <section class="header-navbar bg-alpha" data-menu-scroll="true">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <figure class="identity">
                            	<a href="index.html">
                            		<img alt="Theme logo"  src="/assets/logo-white.png"  style="width:100%;">
                            	</a>
                            </figure>
                        </div> <!-- /.col-2 -->
                      <%= render "header_links" %>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section> <!-- /.header-navbar -->
        </header> <!-- /.main-header -->


<section class="box-breadcrumbs box-sep">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs-links uppercase align-center">
					<ul class="inline-list text-grey">
						<li>
							<a href="#">Home</a>
						</li>
						<li>Services</li>
					</ul>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box-breadcrumbs -->


<section class="box box-no-bottom" data-box-img="/assets/demo/sections/section-4.jpg">
	<div class="box-img"><span></span></div>
	<div class="container1">
		<div class="row">
			<div class="col-md-12">
				
				<div class="big-tabs" data-sudo-slider='{"slideCount":5, "moveCount":1, "customLink":"#big-tabs-nav a, .big-tabs li", "continuous":true}'>
					<ul class="clean-list">
						<li data-target="4">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="fa fa-home font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Real Estate</small></h6>
							</div>
						</li>
						<li data-target="5">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="fa fa fa-shopping-cart font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Logistic</small></h6>
							</div>
						</li>
						<li data-target="1" class="active-big-tab">
							<div class="tab-item uppercase text-center">
								<div class="shape-square bg-white">
									<i class="fa fa-book font-6x"></i>
								</div>
								<h6 class="font-alpha"><small>Study Gossip</small></h6>
							</div>
						</li>
                       
						<li >
							<div class="tab-item uppercase text-center">
								
								
							</div>
						</li>
                       
						<li >
							<div class="tab-item uppercase text-center">
								
								
							</div>
						</li>
                        </ul>
				</div>

				<div class="big-tabs-content" data-sudo-slider='{"customLink":"#big-tabs-nav a, .big-tabs li", "continuous":true}'>
					<ul class="inline-list">
						<li class="row">
							<div class="col-md-12">
								
									<ul class="clean-list toggle-loop text-white">
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop" checked>
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i> Learning and Social Sharing</h6>
							<div>
                           <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.studygossip.com/" target="_blank">www.studygossip.com</a></p>
								<p>
Study gossip is a unique first ever social collaborative platform making learning and sharing fun. Reaching out to those who really want to learn and share. It facilitates communication across all level in educational institutions.
								</p>
                                <p>Learning and Sharing using our platform is a quick and efficient way. you can have all your questions answered by friends and teachers, Quickly refer and post your queries to teachers and classmates</p>
                                <p>The more you share the more you learn is a revolutionary approach making you ahead of others. you earn medals based on quality and quantity of posts and replies you make within your group</p>
                                <p>See what your classmates are talking about and be a part of the discussion. Take challenges and solve problems. The more you collaborate better you learn and grow. Learn & Share with Fun.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i> Refund Policy</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.studygossip.com/" target="_blank">www.studygossip.com</a></p>
								<p>
									In case of dissatisfaction from our services, clients have the liberty to cancel their subscription and request a refund from us within defined timelines. Our Policy for the cancellation and refund will be as follows:
								</p><p>We will try our best to give superior services and products to our clients Though this amount is NON - Refundable as payment is done after the product/service is rendered but still in case any client is not completely satisfied with our services we can provide a refund within 36 hours from the date and time of sale of the Product. The final refunds will be made after deducting the Service Tax and the Hourly charges for the work completed by us. Any refund request raised after 48 hours will be rejected.</p>
                                <p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of Payment Gateway Name payments refund will be made to the same account.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i> Privacy Policy</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.studygossip.com/" target="_blank">www.studygossip.com</a></p>
								<p>
									The following privacy policy describes the information and privacy practices for Dine-Media Interactive. This privacy policy describes how Dine-Media Interactive Agents will collect and use your information. All information provided to Dine-Media Interactive will not be shared with anyone. Dine-Media Interactive makes sure that your valuable information is not stored anywhere on our machines. Please be advised to only purchase product after satisfaction and review.
								</p>
                               <p>This privacy policy may not apply to Web sites that are accessible through the Dine-Media Interactive may contain links to other sites operated by third parties including, but not limited to, third-party sites that display Dine-Media Interactive trademarks. We encourage you to read the privacy policies of those other sites to learn how they collect, use, and share and secure your information. Also Dine-Media Interactive is an individual company selling software products to its clients and is not related to any other company.</p>
							</div>
						</div>
					</li>
                    <li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i>  Legal Disclaimer</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.studygossip.com/" target="_blank">www.studygossip.com</a></p>
								<p>
									The information contained in this website is for general information purposes only. The information is provided by dine-media.com and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
								</p>
                                <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.</p>
                                <p>Through this website you are able to link to other websites which are not under the control of dine-media.com , we have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
                               <p>Every effort is made to keep the website up and running smoothly. However, dine-media.com takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
							</div>
						</div>
					</li>
                   
                   
                    
				</ul>
							
							</div>
						</li>
						<li class="row">
							<div class="col-md-12">
								<ul class="clean-list toggle-loop text-white">
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop" checked>
							<h6 class="uppercase font-alpha bg-light-black"><i class="icon-502 bg-white"></i> IOS Application Development</h6>
							<div>
								<p>
									When smart phones are becoming the choice of the markets along al aged groups, you cannot ignore the world leader in smart phones "APPLE". With over more than 450,000 thousand apps, one of the biggest app collections has not only made the lives of many people and businesses more organized and manageable but given huge opportunities to people to explore the huge application development segment on IOS. Equipped with the most desirable skills in IOS development tools like Xcode, Cocoa Touch framework and Objective C, we ensure that Dine-Media provides the best service and optimum solution to its client, perfecting delivery In-Time, On-Budget and Quality Checked. Leveraging the best of Apple's technologies and utilizing Cocoa's APIs, our iPhone Programmers create a tightly-integrated Xcode development experience that makes it easier to add animation, networking, appearance and behavior to apps. Only a few lines of coding will suffice.
								</p>
                                <p>Our iPhone Mobile apps Development team is committed to meeting optimum time-to-market periods. Understanding the core processes of iPhone Native Mobile Application Development, offshore ipad application development, we build third-party applications that are as interactive and easy-to-use as native applications.,</p>
                               <p> Our group of young trained professionals has varied experience. With intense focused on offering customers with the top quality technology suitable for them at the best price imaginable.</p>
                               <p>Our group of technocrats are proactively seeking and working on cutting edge technologies so that you get the perfect solution to your problems. This also keeps us poised to address future needs of our customers as well.</p>
                               <h5>Our Offerings for iOS Mobile Application Development</h5>
                                <ul class="clean-list fancy-list" >
                       <li><i class="icon-100 font--1x bg-beta text-white" ></i>iphone / Ipad eBooks & E-learning Application Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhone Catalogue Application Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhone / Ipad Business Application Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhone / Ipad Enterprise Application Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhone / iPad compatible Mobile Website Development</li>
                                 <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhone Web Service Integration</li>
                                  <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPad Digital Album Development</li>
                                   <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPad Tablet Application Development</li>
                                    <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhone Mobile App Development</li>
                                     <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhone Social networking Application Development & Integration</li>
                                      <li><i class="icon-100 font--1x bg-beta text-white" ></i>iPhoe GPS, Bluetooth, Push APNS, Google MAP integration</li>
                                       <li><i class="icon-100 font--1x bg-beta text-white" ></i>Porting iPhone App to iPad App</li>
                                        <li><i class="icon-100 font--1x bg-beta text-white" ></i>Porting iPhone App to iPad App</li>
                                
                               
                                </ul>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="icon-118 bg-white"></i> Android Application Development</h6>
							<div>
								<p>
									With more and more market players adopting android platform and delivering cost effective devices in comparison to Apple's IPhone and IPad, the opportunities are limitless in reaching to those millions who are ready to test your application on their android devices.
								</p>
                                <h5>Our Offerings for Android Mobile Applications Development</h5>
                                 <ul class="clean-list fancy-list" >
                       <li><i class="icon-100 font--1x bg-beta text-white" ></i>eBooks / e-Learning Application Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android Application Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android Mobile Apps Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android Catalogue Application Development</li>
                                <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android Business Application Development</li>
                                 <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android Enterprise Application Development</li>
                                  <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android compatible Mobile Website Development</li>
                                   <li><i class="icon-100 font--1x bg-beta text-white" ></i>Hire Android Mobile Apps developer</li>
                                    <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android PC Application Development</li>
                                     <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android Social networking Application & Integration</li>
                                      <li><i class="icon-100 font--1x bg-beta text-white" ></i>Android GPS, Bluetooth, Push APIs, Google MAP integration</li>
                                       <li><i class="icon-100 font--1x bg-beta text-white" ></i>Hire Android Application Developer</li>
                                        <li><i class="icon-100 font--1x bg-beta text-white" ></i>2.2 and 4.2 SDK Compatible Android Apps Development</li>
                                
                               
                                </ul>
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="icon-467 bg-white"></i> Extending Web to Mobile Apps</h6>
							<div>
								<p>
									More and more people are demanding hybrid application which works on all screen sizes so we at Dine-Media took a hybrid approach where we build application using HTML-5 and Java Script which are optimized to run on all platforms and screen sizes so it may be a desktop or a mobile device the application adjusts itself to the given screen size. Not all users will go and search the google store or Apple's App store to search and download the application instead they will directly try to open the application using mobile browser and there goes our chance where we can stand out by giving a hybrid application. There is no secret recipe to developing hybrid applications, it's just smart work.
								</p>
							</div>
						</div>
					</li>
                    <li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="icon-467 bg-white"></i> Mobile App Consulting</h6>
							<div>
								<p>
									We also do windows and blackberry application development but since the market share is less as compared to IOS and Android we suggest our client to invest money in IOS and Android platforms as they are in majority. If you have got a web application and want to go for a mobile application development you can trust us with the right decision of the right platform suggestion. Luckily we did some research on different mobile platform used in different markets and we figured out that different demographics have different choice of preferred brands and platforms. For example in Australia mainly people prefer IPhones and Ipads where in US the trend is changing and people are moving towards Android. So given a chance we would definitely give you the best technological platform choice based on target audience type along with consideration of other factors.
								</p>
							</div>
						</div>
					</li>
				</ul>
							</div>
						
						</li>
						<li class="row">
							<div class="col-md-5">
								<h4>Social Media</h4>
								<p>Developing social media friendly apps for greater audience.</p>
								<p>Creating Application for social media Ecommerce sites. Marketing in social media for selling and purchasing of any items . Implementing Ecommerce in Twitter, Facebook, Instagram etc.... </p>
								<hr class="hr-10">
								<a href="services.html" class="uppercase text-alpha">Learn more</a>
							</div>
							<div class="col-md-7">
								<figure class="text-center no-margin">
									<img  src="/assets/demo/big-tabs/socila_media.png" alt="big tabs">
								</figure>
							</div>
						</li>
						<li class="row">
							
							<div class="col-md-12">
                            <ul class="clean-list toggle-loop text-white">
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop" checked>
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i> Ezyprops</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.ezyprops.com/" target="_blank">www.ezyprops.com</a></p>
                            <h5>Ruby on Rails framework</h5>
								<p>
									Ezyprops is one of the India's fastest growing property information website that helps connect buyers and sellers of real estate across the country and also notify and alert customer base available online on social media networks. Property buying for Indians is a big financial and emotional decision taken by the family together. Hence we at ezyprops deliver the best of the statics to help you the take the decision well and put your money in the right place. Whether you wish to buy, rent or lease a private or commercial property, you are at the right place just travel to the property using our map based search tool to suite your needs. You can filter the search results and identify new / existing India properties that meet the expectations. You can then contact the Sellers through e-mail / SMS or phone for concluding a transaction.</h5>


							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i> Privacy Policy</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.ezyprops.com/" target="_blank">www.ezyprops.com</a></p>
								<p>
									This Privacy policy is subject to the terms of the Site Policy (User agreement) of ezyprops.com. This policy is effective from the date and time a user registers with ezyprops.com by filling up the Registration form and accepting the terms and conditions laid out in the Site Policy.
								</p>
                                <p>In order to provide a spam free reliable and customized browsing experience, ezyprops.com may collect personal information from you. Additionally some of our websites may require you to complete a registration form or seek some information from you. When you let us have your preferences, we will be able to deliver or allow you to access the most relevant information that meets your end.</p>
                                <p>To extend this personalized experience ezyprops.com may track the IP address of a user's computer and save certain information on your system in the form of cookies. A user has the option of accepting or declining the cookies of this website by changing the settings of your browser. The personal information provided by the users to ezyprops.com will not be provided to anyone in any conditions, its collected to provide you with supreme browsing experience.</p>
                                <p>Since ezyprops.com is just a communication platforms for users we will not ask you to register to create password. So please don’t disclose any private information on ezyprops.com. Just feel free to browse around listed properties and contact buyers and sellers for further communication.</p>
                               	</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i>  Costing</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://www.ezyprops.com/" target="_blank">www.ezyprops.com</a></p>
								<p>
									Posting the property is free for all users however if you can to get access to dedicated builder management module where each builder can manage all his properties along with individual incomes and expenses with a graphical view and dedicated employee / vendor / quotes / clients management modules, you can contact@dine-media.com for a demo.
								</p>
                               <p> <label for="inputEmail1" class="col-lg-4 control-label">Prices for admin panel : 30,000 INR per month : </label>
                               <button class="button-sm bg-alpha uppercase" type="submit" id="Submit"><i class="fa fa-angle-right"></i> PAY NOW</button>
                               </p>
							</div>
						</div>
					</li>
                  
                    
				</ul>
                            </div>
						</li>
						<li class="row">
						
							<div class="col-md-12">
								<ul class="clean-list toggle-loop text-white">
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop" checked>
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i>   Chti</h6>
							<div>
                             <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://chti.in/" target="_blank">www.chti.in</a></p>
								<p>
									Chti is a logistic management solution managing end-end operations for any logistic company with a dedicated management dashboard and features to manage different locations and offices.
								</p>
                                <p>It has features like: LR Entry, lorry challan, powerful search based on time date and bilty number, expenses and branch management, along with user profiles and setting to manage the application, it has got the facility to generate unique bar codes with each bilty generated which can be scanned for relevant information and save a lot of time.</p>
                                 
							</div>
						</div>
					</li>
					<li>
						<div class="toggle-item">
							<input type="radio" name="toggle-loop">
							<h6 class="uppercase font-alpha bg-light-black"><i class="fa fa-gear bg-white"></i> Costing</h6>
							<div>
							 <p style="float:right;font-weight:900"> <a style=" color:#ee1d24; " href="http://chti.in/" target="_blank">www.chti.in</a></p>
									<form role="form" name="form" method="post" action="http://dine-media.com/payments/Index.html" onclick="Submit" target="_blank">
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-3 control-label"><b>Chti is sold per license :</b></label>
                                                    <div class="col-lg-3" style="color:#000;font-weight:500">
                                                        <select class="form-control" id="ooovvv" name="MAmount" onchange="ChangeValue(this);">
                                                            <option value="50,000">( 1-5 branches )</option>
                                                            <option value="70,000">( 5-10 branches) </option>
                                                            <option value="1,00,000">( 10-15 branches ) </option>
                                                            <option value="1,25,000">( 15-20  branches) </option>
                                                            <option value="1,50,000">( 20-30 branches ) </option>
                                                            <option value="1,75,000">( 30-40 branches ) </option>
                                                            <option value="2,00,000">( 40-50 branchs ) </option>
                                                            <option value="please ask for quote">( more than 50 ) </option>
                                                        </select>
                                                        <input type="hidden" name="code" value="356">
                                                        <script>
                                                          function ChangeValue(tjs) {
                                                              $("#optionvalue").text(tjs.value)
                                                          }
                                                        </script>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <span id="optionvalue" style="font-weight:bold">1,75,000</span>
                                                    </div>
                                                    <button class="button-sm bg-alpha uppercase" type="submit" id="Submit">PAY NOW</button>
                                                </div>
                                            </form>
                                            
								
							</div>
						</div>
					</li>
					
					</ul>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="footer-social bg-alpha">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="inline-list social-networks align-center text-white">
					<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								
								<li class="vimeo-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class=" fa fa-linkedin"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
				</ul>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.footer-social  -->
		<footer class="main-footer">

			<section class="footer-sidebar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<aside class="main-sidebar row" data-masonry=".widget">
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Keep in touch </h5>
									
									<div class="widget-content-footer">
										<p><b class="uppercase text-beta"><i class="fa fa-home text-grey" style="font-size:1.5em;"></i>&nbsp;&nbsp;No.270/2 /21, Near Banu Nursing Home, Sir Mv Road, Bommanahalli, Bangalore - 560068<br></b></p>
										<ul class="clean-list font-20 text-beta">
											<li><i class="icon-351 text-grey"></i> &nbsp;&nbsp;080-41265450/+91-9480018881</li>
											<li><i class="icon-166 text-grey"></i> &nbsp;&nbsp;neeraj@dine-media.com</li>
										</ul>
										<p>
											Please reach us by any means with any I.T related problems.
										</p>
									</div>
								</div> <!-- /.widget-text -->
								
		<%= render "footer_links" %>
								
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Subscribe</h5>
									
									<div class="widget-content-footer">
										<p>GET A QUOTE TODAY REQUEST FOR QUOTE and BE IN TOUCH WITH US  </p>
										<form action="#" class="slim-form full-inputs">
											<p>
												<input type="search" name="name">
												<span class="uppercase font-beta text-beta">Your email</span>
											</p>
											<button type="submit" class="button-sm bg-alpha make-full">Submit</button>
										</form>
									</div>
								</div> <!-- /.widget-text -->
								
								<div class="widget widget-dribbble col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta"> </h5>
									
									<div class="widget-content-footer">
										<img src="/assets/hdfc-bank-logo.jpg">
									</div>
								</div> <!-- /.widget-recent-posts -->
							</aside>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-menu -->

			<section class="footer-copyright bg-light-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p class="copyright uppercase">
								<span> &copy; 2015 </span>
								<a href="#">Dine Media </a>
									
							</p>
						</div>

						<div class="col-md-6">
							<ul class="inline-list social-networks social-mini-footer text-grey align-right">									
								<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								<li class="linkedin-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class="icon-297"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-copyright -->
		</footer> <!-- /.main-footer -->

	</div> <!-- /#home -->
	
</body>

</html>