<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">

	<title>Dine Media Interactive - Meet Our Team</title>

	<link rel="shortcut icon"  href="/assets/demo/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/assets/demo/favicon/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/demo/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/demo/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/demo/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/demo/favicon/apple-touch-icon-144x144.png">

	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/35debd9b.screen.css">

	<script src="/assets/components/require.js" data-main="/assets/511dca1f.options"></script>
</head>
<body data-preloader="on">
    <div id="home" data-smooth-scroll="on">
            <section class="box-intro-page bg-black" data-box-img="/assets/demo/intro/intro-1.jpg">
                <div class="box-img"><span></span></div>
                    <div class="container intro-center">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="text-center text-white uppercase">
                                    <i class="icon-524 font-3x"></i>
                                    <h4 class="no-margin"><b>Our team</b></h4>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div>
            </section>

        <header class="main-header" data-sticky="true">
            <section class="header-navbar bg-alpha" data-menu-scroll="true">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <figure class="identity">
                            	<a href="index.html">
                            		<img alt="Theme logo"  src="/assets/logo-white.png" style="width:100%;">
                            	</a>
                            </figure>
                        </div> <!-- /.col-2 -->
                   <%= render "header_links" %>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section> <!-- /.header-navbar -->
        </header> <!-- /.main-header -->


<section class="box-breadcrumbs box-sep">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs-links uppercase align-center">
					<ul class="inline-list text-grey">
						<li>
							<a href="#">Home</a>
						</li>
						<li>Team</li>
					</ul>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box-breadcrumbs -->

<section class="box" data-box-img="/assets/demo/sections/section-1.jpg">
	<div class="box-img"><span></span></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
				<div class="promo-message text-center text-white">
					<h6 class="uppercase">Let’s build your next dream project</h6>
					<h4 class="font-alpha">We make our <span class="text-alpha">work look good</span> & have experience in <br>
					the creation of brand identities for <span class="text-alpha">Web & Cloud</span>, with a difference.</h4>
					<div class="space-3x"></div>
					<a href="contact.html" class="button-md bg-alpha uppercase">Contact us</a>
				</div>
			</div>
		</div>
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section id="team" class="box">
	<div class="container">
		<div class="row">
			<ul class="clean-list team-loop text-center">
				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/neeraj.png" alt="Team">
							</div>
							<h6 class="uppercase"><a href="#">Neeraj Choudhary</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Neeraj Choudhary</h6>
							<span class="uppercase">C.E.O/Managing Director</span>
							<hr class="hr-10 bg-white align-center">
							<p>MBA in Advance IT with solid 10 yeares of Industry experience</p>							
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/team/ranjana.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Ranjana Choudhary</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Ranjana Choudhary</h6>
							<span class="uppercase">Director Design</span>
							<hr class="hr-10 bg-white align-center">
							<p>Designer by Passion Creating and Setting Design Standards</p>
						</div>
					</div>
				</li>
                <li class="col-md-3 col-xs-6">
                                    <div class="team-item">
                                        <div class="team-front">
                                            <div>
                                                <img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/team/tejashwari.png" alt="team one">
                                            </div>
                                            <h6 class="uppercase"><a href="#">Tejashwari Pujari</a></h6>
                                        </div>
                                        <div class="team-back bg-alpha text-white">
                                            <a href="#"></a>
                                            <h6 class="uppercase font-alpha">Tejashwari Pujari</h6>
                                            <span class="uppercase">Business Development Executive</span>
                                            <hr class="hr-10 bg-white align-center">
                                            <p></p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3 col-xs-6">
                                    <div class="team-item">
                                        <div class="team-front">
                                            <div>
                                                <img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/abhishek.png" alt="team one">
                                            </div>
                                            <h6 class="uppercase"><a href="#">Abhishek Dagar</a></h6>
                                        </div>
                                        <div class="team-back bg-alpha text-white">
                                            <a href="#"></a>
                                            <h6 class="uppercase font-alpha">Abhishek Dagar</h6>
                                            <span class="uppercase">Business Consultant </span>
                                            <hr class="hr-10 bg-white align-center">
                                            <p></p>
                                        </div>
                                    </div>
                                </li>
				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/ashok.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Ashok Kumar</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Ashok Kumar</h6>
							<span class="uppercase">SENIOR RUBY ON RAILS SPECIALIST</span>
							<hr class="hr-10 bg-white align-center">
							<p>We call him Ruby On Rails Guru in office</p>
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/team/pushparaj.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Pushparaj Badu</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Pushparaj Badu</h6>
							<span class="uppercase">Ruby On Rails Wizard</span>
							<hr class="hr-10 bg-white align-center">
							<p>He is the Mad Scientist Digging ROR Deeply</p>
							
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/team/shivraj.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Shivraj Badu</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Shivraj Badu</h6>
							<span class="uppercase">Ruby On Rails Developer</span>
							<hr class="hr-10 bg-white align-center">
							<p>Cool and Calm Person get the Work Done Efficiently</p>
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/team/sneha.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Sneha</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Sneha</h6>
							<span class="uppercase">Ruby On Rails Developer</span>
							<hr class="hr-10 bg-white align-center">
							<p>Her Passion for Rails Gave her the Wings </p>
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/team/bhagath.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Bhagath Reddy</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Bhagath Reddy</h6>
							<span class="uppercase">Ruby On Rails Developer</span>
							<hr class="hr-10 bg-white align-center">
							<p>Wizard in JS can Do the Impossible with Rails too</p>
						</div>
					</div>
				</li>

				<li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg" src="" data-src="/assets/demo/team/dev.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Theiventhiran </a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Theiventhiran</h6>
							<span class="uppercase">User Interface Developer</span>
							<hr class="hr-10 bg-white align-center">
							<p>He Knows it best when it comes to web</p>
						</div>
					</div>
				</li>
                <li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/team/harshith.png" alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Harshith Prasath</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Harshith Prasath</h6>
							<span class="uppercase">Junior Ruby On Rails Developer</span>
							<hr class="hr-10 bg-white align-center">
							<p></p>
						</div>
					</div>
				</li>
                 <li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg"   data-src="/assets/demo/team/dipalika.png"  alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Dipalika</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Dipalika</h6>
							<span class="uppercase">Junior Ruby On Rails Developer</span>
							<hr class="hr-10 bg-white align-center">
							<p></p>
						</div>
					</div>
				</li>
                <li class="col-md-3 col-xs-6">
					<div class="team-item">
						<div class="team-front">
							<div>
								<img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/team/priyanka.png"  alt="team one">
							</div>
							<h6 class="uppercase"><a href="#">Priyanka</a></h6>
						</div>
						<div class="team-back bg-alpha text-white">
							<a href="#"></a>
							<h6 class="uppercase font-alpha">Priyanka</h6>
							<span class="uppercase">Junior Ruby On Rails Developer</span>
							<hr class="hr-10 bg-white align-center">
							<p></p>
						</div>
					</div>
				</li>

			</ul>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box -->

<section class="footer-social bg-alpha">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="inline-list social-networks align-center text-white">
					<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								
								<li class="vimeo-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class=" fa fa-linkedin"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
				</ul>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.footer-social  -->

		<footer class="main-footer">

			<section class="footer-sidebar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<aside class="main-sidebar row" data-masonry=".widget">
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Keep in touch </h5>
									
									<div class="widget-content-footer">
										<p><b class="uppercase text-beta"><i class="fa fa-home text-grey" style="font-size:1.5em;"></i>&nbsp;&nbsp;No.270/2 /21, Near Banu Nursing Home, Sir Mv Road, Bommanahalli, Bangalore - 560068<br></b></p>
										<ul class="clean-list font-20 text-beta">
											<li><i class="icon-351 text-grey"></i> &nbsp;&nbsp;080-41265450/+91-9480018881</li>
											<li><i class="icon-166 text-grey"></i> &nbsp;&nbsp;neeraj@dine-media.com</li>
										</ul>
										<p>
											Please reach us by any means with any I.T related problems.
										</p>
									</div>
								</div> <!-- /.widget-text -->
								
								<div class="widget widget-categories col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Useful Links</h5>
									
									<div class="widget-content-footer">
										<ul class="clean-list fancy-list">
											<li><a href="/">Home</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
											<li><a href="/homes/about_us">About Us</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
											<li><a  href="/homes/services">Services</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                            <li><a href="/homes/products">Products</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
											<li><a href="/homes/works"> Portfolio</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                            <li><a href="/homes/team"> Dine Media Team</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                             <li><a href="/homes/contact"> Get in touch with Dine Media</a><i class="icon-100 font--2x bg-beta text-white"></i></li>
                                             
										</ul>
									</div>
								</div> <!-- /.widget-categories -->
								
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Subscribe</h5>
									
									<div class="widget-content-footer">
										<p>GET A QUOTE TODAY REQUEST FOR QUOTE and BE IN TOUCH WITH US  </p>
										<form action="#" class="slim-form full-inputs">
											<p>
												<input type="search" name="name">
												<span class="uppercase font-beta text-beta">Your email</span>
											</p>
											<button type="submit" class="button-sm bg-alpha make-full">Submit</button>
										</form>
									</div>
								</div> <!-- /.widget-text -->
								
								<div class="widget widget-dribbble col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta"> </h5>
									
									<div class="widget-content-footer">
										<img src="/assets/hdfc-bank-logo.jpg">
									</div>
								</div> <!-- /.widget-recent-posts -->
							</aside>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-menu -->

			<section class="footer-copyright bg-light-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p class="copyright uppercase">
								<span> &copy; 2015 </span>
								<a href="#">Dine Media </a>
									
							</p>
						</div>

						<div class="col-md-6">
							<ul class="inline-list social-networks social-mini-footer text-grey align-right">									
								<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								<li class="linkedin-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class="icon-297"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-copyright -->
		</footer> <!-- /.main-footer -->

	</div> <!-- /#home -->
	
</body>
</html>
