<!doctype html>
<html lang="en" class="no-js">

<head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dine Media Interactive - Portfolio</title>
        <meta name="description" content="">
        <link rel="shortcut icon"  href="/assets/demo/favicon/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/assets/demo/favicon/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/demo/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/demo/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/demo/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/demo/favicon/apple-touch-icon-144x144.png">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/35debd9b.screen.css">
        <script src="/assets/components/require.js" data-main="/assets/511dca1f.options"></script>
    </head>
<body data-preloader="on">
    <div id="home" data-smooth-scroll="on">
            <section class="box-intro-page bg-black" data-box-img="/assets/demo/intro/intro-1.jpg">
                <div class="box-img"><span></span></div>
                    <div class="container intro-center">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="text-center text-white uppercase">
                                    <i class="icon-353 font-3x"></i>
                                    <h4 class="no-margin"><b>Our works</b></h4>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div>
            </section>

        <header class="main-header" data-sticky="true">
            <section class="header-navbar bg-alpha" data-menu-scroll="true">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <figure class="identity">
                            	<a href="index.html">
                            		<img alt="Theme logo" src="/assets/logo-white.png" style="width:100%;">
                            	</a>
                            </figure>
                        </div> <!-- /.col-2 -->
                          <%= render "header_links" %>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section> <!-- /.header-navbar -->
        </header> <!-- /.main-header -->



<section class="box-breadcrumbs box-sep">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumbs-links uppercase align-center">
					<ul class="inline-list text-grey">
						<li>
							<a href="#">Home</a>
						</li>
						<li>Works</li>
					</ul>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.box-breadcrumbs -->

<section id="works" class="box">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="portfolio-filters uppercase clearfix">
					<ul class="inline-list">
						<li>
							<label>
								<input type="radio" name="isotope_filter" value=".web-design" checked>
								<span>page 1</span>
							</label>
						</li>
						
						<li>
							<label>
								<input type="radio" name="isotope_filter" value=".artworks">
								<span>page 2</span>
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="isotope_filter" value=".photography">
								<span>page 3</span>
							</label>
						</li>
					</ul>

					<div class="sort-by">
						<input type="checkbox" id="sort-by">
						<label for="sort-by" class="uppercase"><span>Sort by <i class="icon-109 text-alpha"></i></span></label>

						<ul class="clean-list">
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="original-order" checked>
									<span>Default</span>
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="name">
									<span>Project name</span>
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="pubDate">
									<span>Publish Date</span>
								</label>
							</li>
							<li>
								<label>
									<input type="radio" name="isotope_sort" value="type">
									<span>File type</span>
								</label>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	<div class="container">
		<div class="row">
			<ul class="clean-list portfolio-loop" data-masonry="li">
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/greatworkperks.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/greatworkperks.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://greatworkperks.com/" target="_blank"><b>Great Work Perks</b></a></h6>
								<span class="font-beta">Online Employment Discount Programs</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619256" data-portfolio-type="image">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/SIGN_THIS.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/SIGN_THIS.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="https://signthis.ca/" target="_blank"><b>Sign This</b></a></h6>
								<span class="font-beta">Send and Manage Documents in online</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/flip_now.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/flip_now.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://dev.garagesalegroups.com/" target="_blank"><b>Flip Now</b></a></h6>
								<span class="font-beta">Social Networking & E-commerce Site</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619250" data-portfolio-type="infographic">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/go4usedcars.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/go4usedcars.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://go4usedcars.com/" target="_blank"><b>Go4used Cars</b></a></h6>
								<span class="font-beta">Online Purchasing & Selling of Used Cars</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619251" data-portfolio-type="logo">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/spiceandspoon.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/spiceandspoon.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.spiceandspoon.com/" target="_blank"><b>Spice & Spoonp</b></a></h6>
								<span class="font-beta">Online Cooking Classes</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345617256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/meida-cloud.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/meida-cloud.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://mediacloud.co.in/" target="_blank"><b>Media Cloud</b></a></h6>
								<span class="font-beta">Oraganizational Website</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619226" data-portfolio-type="image">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/rosarahomes.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/rosarahomes.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://rosarahomes.com/" target="_blank"><b>Rosara Homes</b></a></h6>
								<span class="font-beta">Ecommerce site for Furnitures</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design " data-portfolio-date="1345619252" data-portfolio-type="photo">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/svrfarms.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/svrfarms.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://svrfarms.com/" target="_blank"><b>SVR Farms</b></a></h6>
								<span class="font-beta">Ecommerce Website for Real Estate</span>
							</div>
						</div>
					</div>
				</li>
				<li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg"  data-src="/assets/demo/portfolio/risingsun.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/risingsun.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://rising-sun.com.au/" target="_blank"><b>Rising Sun</b></a></h6>
								<span class="font-beta">Security Solution Site</span>
							</div>
						</div>
					</div>
				</li>
                <li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/tatango.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/tatango.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.tatango.com/" target="_blank"><b>Tatango</b></a></h6>
								<span class="font-beta">Mobile Based SMS Marketing Software</span>
							</div>
						</div>
					</div>
				</li>
                
                <li class="col-sm-4 col-xs-6 web-design" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/mydateishere_1.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/mydateishere_1.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://mydateishere.com/" target="_blank"><b>Mydateishere</b></a></h6>
								<span class="font-beta">New Generation dating cum matching site</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6  web-design" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/smartquotez.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/smartquotez.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.smartquotez.com/" target="_blank"><b>SmartQuotez</b></a></h6>
								<span class="font-beta">Customers and Business interaction website</span>
							</div>
						</div>
					</div>
				</li>
                <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/enod.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/enods.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.enods.com/" target="_blank"><b>Enods</b></a></h6>
								<span class="font-beta">Ecommerce website</span>
							</div>
						</div>
					</div>
				</li>
                <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/eduposts.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/eduposts.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.eduposts.com/" target="_blank"><b>Eduposts</b></a></h6>
								<span class="font-beta">Collaboration application for instructors and students</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/cloud_dashboard.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/cloud_9.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://ec2-54-245-14-77.us-west-2.compute.amazonaws.com/" target="_blank"><b>Cloud9</b></a></h6>
								<span class="font-beta">Real Estate Transaction website</span>
							</div>
						</div>
					</div>
				</li>
                
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/homecca.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/homecca.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://ec2-54-245-14-77.us-west-2.compute.amazonaws.com/" target="_blank"><b>Home CCA</b></a></h6>
								<span class="font-beta">Home maintenance website connected with professionals</span>
							</div>
						</div>
					</div>
				</li>
                <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/47.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/47.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://47.no/" target="_blank"><b>47.no</b></a></h6>
								<span class="font-beta">Website for leading search between enterprises</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/whenisitopen.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/whenisitopen.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.whenisitopen.ca/" target="_blank"><b>When is it open</b></a></h6>
								<span class="font-beta">users can search for open businesses close to their location or at any given location</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/jangalamarket.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/jangalamarket.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.jangalamarket.com/" target="_blank"><b>Jangalamarket</b></a></h6>
								<span class="font-beta">Jangala jungle means in Sanskrit, an ancient language of the Indian subcontinent.</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/kirpeep.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/kirpeep.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://kirpeep.com/" target="_blank"><b>Kirpeep</b></a></h6>
								<span class="font-beta">Real way to buy, sell or trade anything</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/getsortbox.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/getsortbox.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://www.getsortbox.com/" target="_blank"><b>Get Sort Box</b></a></h6>
								<span class="font-beta">Simple Career Pages for your Company</span>
							</div>
						</div>
					</div>
				</li>
                
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/high5_software.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/high5_software.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://smo.high5software.com/" target="_blank"><b>Hi5Software</b></a></h6>
								<span class="font-beta">service management application operating on eCommerce background.</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/flate.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/flate.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://flate.no/" target="_blank"><b>FlateSoftware</b></a></h6>
								<span class="font-beta">Real estate project for renting and selling properties </span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 artworks" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/timeraven.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/timeraven.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="https://timeraven.com/" target="_blank"><b>Timeraven</b></a></h6>
								<span class="font-beta"> Schedule and sync appointments on all available platforms</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 photography" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/rcms.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/rcms.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://rcms-app.herokuapp.com/" target="_blank"><b>RCMS</b></a></h6>
								<span class="font-beta">Church counselling application created and manged by church</span>
							</div>
						</div>
					</div>
				</li>
                <li class="col-sm-4 col-xs-6 photography" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/bilty_software.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/bilty_software.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://chti.in/" target="_blank"><b>BiltySoftware</b></a></h6>
								<span class="font-beta">Propitiatory product from dine media aimed at providing ease to transport and logistic companies</span>
							</div>
						</div>
					</div>
				</li>
                 <li class="col-sm-4 col-xs-6 photography" data-portfolio-date="1345619256" data-portfolio-type="video">
					<div class="portfolio-item text-center">
						<figure>
							<img src="/assets/fe296a6b.load.svg" data-src="/assets/demo/portfolio/abouttrees.png" alt="portfolio image">
						</figure>

						<div class="portfolio-front">
							<div class="bg-alpha">
								<div class="featured-icon align-center">
									<figure class="shape-square">
										<a href="/assets/demo/portfolio-big/abouttrees.png" class="bg-white zoom-img" data-strip-group="portfoliounik" data-strip-options="side: 'top'"><i class="icon-367 font-2x"></i></a>
									</figure>
								</div>
							</div>
							<div class="text-center uppercase bg-white">
								<h6 class="no-margin font-alpha"><a href="http://abouttrees.com/" target="_blank"><b>AboutTrees</b></a></h6>
								<span class="font-beta">The FreeMulch.AboutTrees.com wood chips app is a product of AboutTrees.com</span>
							</div>
						</div>
					</div>
				</li>
                
                
			</ul>
		</div> <!-- /.row -->

	</div> 
</section> 

<section class="footer-social bg-alpha">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="inline-list social-networks align-center text-white">
					<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								
								<li class="vimeo-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class=" fa fa-linkedin"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
				</ul>
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</section> <!-- /.footer-social  -->

		<footer class="main-footer">

			<section class="footer-sidebar">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<aside class="main-sidebar row" data-masonry=".widget">
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Keep in touch </h5>
									
									<div class="widget-content-footer">
										<p><b class="uppercase text-beta"><i class="fa fa-home text-grey" style="font-size:1.5em;"></i>&nbsp;&nbsp;No.270/2 /21, Near Banu Nursing Home, Sir Mv Road, Bommanahalli, Bangalore - 560068<br></b></p>
										<ul class="clean-list font-20 text-beta">
											<li><i class="icon-351 text-grey"></i> &nbsp;&nbsp;080-41265450/+91-9480018881</li>
											<li><i class="icon-166 text-grey"></i> &nbsp;&nbsp;neeraj@dine-media.com</li>
										</ul>
										<p>
											Please reach us by any means with any I.T related problems.
										</p>
									</div>
								</div> <!-- /.widget-text -->
								<%= render "footer_links" %>
								
								<div class="widget widget-text col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta">Subscribe</h5>
									
									<div class="widget-content-footer">
										<p>GET A QUOTE TODAY REQUEST FOR QUOTE and BE IN TOUCH WITH US  </p>
										<form action="#" class="slim-form full-inputs">
											<p>
												<input type="search" name="name">
												<span class="uppercase font-beta text-beta">Your email</span>
											</p>
											<button type="submit" class="button-sm bg-alpha make-full">Submit</button>
										</form>
									</div>
								</div> <!-- /.widget-text -->
								
								<div class="widget widget-dribbble col-md-3 col-sm-6">
									<h5 class="uppercase widget-title text-beta"> </h5>
									
									<div class="widget-content-footer">
										<img src="/assets/hdfc-bank-logo.jpg">
									</div>
								</div> <!-- /.widget-recent-posts -->
							</aside>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-menu -->

			<section class="footer-copyright bg-light-grey">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p class="copyright uppercase">
								<span> &copy; 2015 </span>
								<a href="#">Dine Media </a>
									
							</p>
						</div>

						<div class="col-md-6">
							<ul class="inline-list social-networks social-mini-footer text-grey align-right">									
								<li class="facebook-network">
									<a href="https://www.facebook.com/DineMediaInteractive"><i class="icon-182"></i></a>
								</li>
								<li class="twitter-network">
									<a href="https://twitter.com/neeraji2it"><i class="icon-510"></i></a>
								</li>
								<li class="linkedin-network">
									<a href="https://www.linkedin.com/company/dine-media-interactive"><i class="icon-297"></i></a>
								</li>
								<li class="dribbble-network">
									<a href="https://login.skype.com/login"><i class="fa fa-skype"></i></a>
								</li>
							</ul>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /.footer-copyright -->
		</footer> <!-- /.main-footer -->

	</div> <!-- /#home -->
	
</body>


</html>